/*common*/
@font-face {font-family: 'iconfont';
	src: url('/font/font_1393298710_7750292.eot'); /* IE9*/
	src: url('/font/font_1393298710_7750292.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('/font/font_1393298710_832506.woff') format('woff'), /* chrome、firefox */
	url('/font/font_1393298710_6765392.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('/font/font_1393298710_923507.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{font-family:'iconfont';font-size:16px;font-style:normal;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;}

body {
	font:12px/20px 'Microsoft Yahei','微软雅黑','Simsun','宋体';
}